body {
    margin: 0;
    padding: 0;
    background: url('./assets/webpage/pageBackground.png') no-repeat center center fixed; /* Adjust the path as needed */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#canvasContainer {
    position: relative; /* Required for z-index to work */
    /* y position is set*/
    top: -200px;
    z-index: 2; /* Higher value to ensure it's on top */
    width: 800px; /* Set to your canvas width */
    height: 600px; /* Set to your canvas height */
}

canvas {
    display: block;
    margin: 0 auto;
}
